@import 'node_modules/govuk-frontend/all';
@import 'fabric-ui/Fabric';

//force fabric ui font family on all components
* {
  font-family:"Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}

.govuk-template {
  background-color: $ms-color-white;
}
//sidebar custom styles
.sidebar-nav {
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    @include ms-fontColor-gray150;
  }
  a:hover {
    @include ms-bgColor-gray30;
    
  }
}
//rag rating radios
.rag-rating_label {
  text-transform: capitalize;
  &:after,
  &:before {
    border: transparent;
  }
  &--red:before,
  &--red:after {
    background: $ms-color-sharedRed10;
  }
  &--amber-red:before,
  &--amber-red:after {
    background: linear-gradient(to right,$ms-color-sharedRed10 50%, $ms-color-sharedOrange10 50%);
  }
  &--amber:before,
  &--amber:after {
    background: $ms-color-sharedOrange10;
  }
  &--amber-green:before,
  &--amber-green:after {
    background: linear-gradient(to right,$ms-color-sharedOrange10 50%, $ms-color-sharedGreen10 50%);
  }
  &--green:before,
  &--green:after {
    background: $ms-color-sharedGreen10;
  }
}
.govuk-radios__input:checked+.rag-rating_label:before {
  border: 4px solid $ms-color-gray220;
}
.rag-rating .govuk-radios__item {
  margin-right: 0px;
}

// custom report status tag
.app-tag {
  @include ms-bgColor-white;
  @include ms-fontColor-gray150;
  @include ms-fontSize-12;
}

.app-tag--approved {
  @include ms-fontColor-sharedGreen10
}
.app-tag--changes-requested {
  @include ms-fontColor-sharedRed10;
}

// fabric ui buttons
.app-button,
.app-button:link {
  @include ms-fontSize-16;
  box-shadow: none;
  padding: 10px;
  color: $ms-color-gray220 !important;
  @include ms-borderColor-gray170;
  @include ms-bgColor-white;
  &:hover,
  &:focus {
    @include ms-bgColor-gray10;
    @include ms-fontColor-gray220;
  }
}

.app-button--primary,
.app-button--primary:link {
  @include ms-bgColor-sharedCyanBlue10;
  color: $ms-color-white !important;
  border: 2px solid transparent; 
  &:hover,
  &:focus {
    color: $ms-color-white !important;
    @include ms-bgColor-sharedCyanBlue20
  }
}

// notice box
.notice-box {
  border: 2px solid $ms-color-communicationShade20;
  padding:  govuk-spacing(4) govuk-spacing(3) 0 govuk-spacing(3);
  margin-bottom: govuk-spacing(5);
  &__content {
    white-space: pre-wrap;
  }
}

// header links
.header-link {
  float: right;
  &+& {
    margin-right: 10px;
  }
}